.card {
    background-color: var(--branco);
    margin: 1em 0.8em;
    display: flex;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 0.75em;
}

.titulo-card {
    color: var(--laranja);
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.subtitulo-card {
    margin: 0.5em 0;
    color: var(--azul);
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
}

.texto-card {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    width: 84%;
}

.botao-saiba-mais {
    margin-top: 35px;
    background-color: var(--laranja);
    padding: 1em;
    width: 100%;
    color: var(--branco);
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    border-color: transparent;
}

.card-icones {
    padding: 2em 0 0;
}