.card {
    background-color: var(--branco);
    margin: 1em 0.8em;
    display: flex;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 0.75em;
}

.titulo-card {
    color: var(--laranja);
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.subtitulo-card {
    margin: 0.5em 0;
    color: var(--azul);
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
}

.texto-card {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    width: 84%;
}

.botao-saiba-mais {
    margin-top: 35px;
    background-color: var(--laranja);
    padding: 1em;
    width: 100%;
    color: var(--branco);
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    border-color: transparent;
}

.card-icones {
    padding: 1em 0 0;
}

@media screen and (min-width: 1024px) {
    .card {
        width: 55%;
        margin: 3em auto;
    }

    .card-icones {
        padding-top: 22%;
    }

    .bloco2-card {
        padding: 1em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .botao-saiba-mais {
        margin: 1em 0 0;
        padding: 0.5em 1em;
    }
}

@media screen and (min-width: 1728px) {
    .card {
        grid-area: "card";
    }

    /* .card-responsivo {
        display: inline-block;
        width: 49%;
    } */
}