.carrossel-titulo {
    background-color: var(--branco);
    color: var(--laranja);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    padding: 1em 0 0.5em 0;
    text-align: center;
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: 0.5em 0;
}

@media screen and (min-width: 1024px) {
    .carrossel-titulo {
        padding-top: 2.5em;
    }

    .swiper-pagination {
        padding: 1em 0 4em;
    }

    .swiper-button-next,
    .swiper-button-prev {
        display: block;
        top: 60%;
        background: var(--azul-gradiente);
        color: var(--branco);
        border-radius: 50%;
        padding: 1em;
        width: 2.5em;
        text-align: center;
    }

    .swiper {
        width: 70%;
    }

    .swiper-slide img {
        width: 80%;
    }
}

@media screen and (min-width: 1728px) {
    .conteudo {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-end;
    }

    .carrossel-titulo {
        width: 100%;
        font-size: 32px;
        line-height: 48px;
        padding-top: 3rem;
    }

    .carrossel {
        max-width: 49vw;
        margin: 0 0 2em;

    }

    .swiper {
        margin: 0;
    }

    .swiper-pagination {
        padding: 1em 0;
        margin: 0;
    }
}