.navbar {
    background-color: var(--branco);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 1em 1em 0;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.nav-img {
    background-image: url(imagens/Menu.svg);
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
    margin: 0 1em;
}

.lista-menu {
    display: none;
    position: absolute;
    width: 70vw;
    top: 100%;
    background-color: var(--branco);
}

.nav-botao:checked~.lista-menu {
    display: block;
    z-index: 2;
}

.nav-botao:checked~.container-rotulo {
    background-image: url(Frame\ 20.svg);
    position: absolute;
    width: 80px;
    height: 85px;
    background-size: cover;
    margin: 0 1em 0 0;
}

.nav-botao:checked~.logo {
    margin-left: calc(80px + 0.3em);
}

.lista-menu__titulo,
.lista-menu__item {
    background-color: var(--branco);
    padding: 1em;
}

.lista-menu__titulo {
    color: var(--laranja);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.lista-menu__item {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

}

.lista-menu__link {
    background: var(--azul-gradiente);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.nav-botao {
    display: none;
}