.visitados {
    background: var(--azul-gradiente);
    text-align: center;
    padding-bottom: 1em;
}

.titulo-visitados {
    color: var(--branco);
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    padding: 1em 0 2em;
    text-transform: uppercase;
}

.lista-visitados {
    text-align: center;
    margin: 0 5%;
}

.lista-visitados li {
    color: var(--branco);
    padding: 1em 1.5em;
    background-color: var(--laranja);
    margin: 0 0.3em 0.6em 0;
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
}

.email-rodape {
    padding: 1em;
    color: var(--azul);
    width: 80%;
}

.titulo-rodape {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}

.texto-rodape {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    padding: 0.5em 0 1.5em;
}

.cadastro-email {
    border-radius: 24px;
    padding: 1em;
    width: 100%;
    border-color: var(--azul);
    color: var(--azul);
}

.cadastro-email::placeholder {
    color: var(--azul);
    padding-left: 3em;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    background: url(imagens/Email.svg) no-repeat;
    background-position: 1em;
    font-family: var(--fonte-principal);
}

hr {
    margin: 0;
}

.texto-final {
    padding: 1em 0 1.5em 1.5em;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.lista-rodape,
.titulo-lista-rodape,
.item-lista-rodape {
    display: none;
}

@media screen and (min-width: 1024px) {
    .lista-visitados li {
        padding: 1.5em 2em;
        margin: 0.5em;
        font-size: 24px;
        line-height: 36px;
    }

    .email-rodape {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2em 0;
        margin: 0 auto;
    }

    .titulo-rodape {
        font-size: 24px;
        width: 80%;
    }

    .texto-rodape {
        padding: 0;
        margin-top: 8px;
        width: 80%;
    }

    .cadastro-email {
        width: 40%;
    }

    .link-rodape {
        margin: 2em 1em;
        display: flex;
        justify-content: space-around;
    }

    .texto-final {
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        padding: 0;
    }

    .titulo-lista-rodape {
        display: block;
        color: var(--cinza);
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
    }

    .item-lista-rodape {
        display: flex;
        color: #474646;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        align-items: center;
    }

    .item-lista-rodape img {
        padding: 0 0.5em 1em 0;
    }
}

@media screen and (min-width: 1728px) {
    footer {
        padding: 0 !important;
    }

    .titulo-visitados {
        font-size: 32px;
        line-height: 48px;
        padding: 2em 0 1em;
    }

    .lista-visitados {
        width: 60%;
        margin: 0 auto;
    }

    .email-rodape {
        justify-content: center;
    }

    .cadastro-email {
        width: 30%;
    }

    .titulo-rodape {
        width: 85%;
    }

    .texto-rodape {
        width: 65%;
    }

    .titulo-lista-rodape {
        margin-bottom: 2em;
    }

    .link-rodape {
        margin: 4rem 3rem 4rem 2rem;
    }

    .link-rodape ul {
        padding-left: 1em;
        border-left: 1px solid #000000;
    }

    .item-lista-rodape:hover {
        color: var(--laranja);
    }

    .lista-visitados li:hover {
        background-color: var(--branco);
        color: var(--laranja);
    }

    .botao-saiba-mais:active {
        background-color: var(--azul);
    }
}